body {
  padding: 50px;
  background-color: #66ccff;
  font-family: sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}
.App {
  text-align: center;
}
input[type="text"] {
  padding: 10px;
  margin-left:4px;
}
input[type="password"] {
  padding: 10px;
  margin-left:5px;
}
input[type="submit"] {

  padding:10px;
}